@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Hello Madhvi Flowers</h2>
        
        <div>
            <img src="/Content/flower.jpg" alt="" />
        </div>
        
    </div>
    
</div>